# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env
.env.bak
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
